.btn, button {
    border: none !important;
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.btn:hover, button:hover {
    transform: scale(1.05);
    box-shadow: rgba(255,255,255, 0.45) 0px 6px 16.5px;
}
.btn-danger {
    background: var(--warningBG) !important;
}
.btn-primary {
    background: var(--primaryColor) !important;
}
.btn-info {
    background: var(--infoBG) !important;
}
.btn-success {
    background: var(--successBG) !important;
}
.dropdown-toggle {
    font-size: var(--textLG) !important;
    border-radius: var(--roundedMD) !important;
    padding: var(--spaceMD) var(--spaceXMD) !important;
}
.dropdown-menu {
    border-radius: var(--roundedMD) !important;
    margin-top: var(--spaceSM) !important;
    padding: var(--spaceSM) !important;
    background: var(--darkColor) !important;
    border: 0 !important;
}
.dropdown-item {
    color: var(--whiteColor) !important;
    border-radius: var(--roundedSM) !important;
    padding: var(--spaceSM) !important;
}
.dropdown-item:hover {
    color: var(--darkColor) !important;
    background: var(--primaryColor) !important;
}